In [1]:
import pandas as pd
import numpy as np
import datetime

from sklearn import linear_model
from sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score


import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import seaborn as sns
from IPython.display import display

In [2]:
df = pd.read_csv('train_data.csv')
dft = pd.read_csv('test.csv')

In [3]:
# Drop the columns not used in the model
df = df.drop(columns=['country_code','fc_codes'])
df

,ofd_date,station_code,OFD,Slam,Earlies_Exp,Earlies_Rec,MNR_SNR_Exp,Rollover,Returns,R_Sideline,Sideline
0,2021-06-30,D33,14594,14568,782,896,615,767,35,2,4
1,2021-06-30,D37,12736,13111,655,823,211,29,17,2,1
2,2021-06-30,D34,14562,15651,1028,1910,225,35,47,3,1
3,2021-06-30,D45,11165,11467,514,769,56,39,29,0,1
4,2021-06-30,D50,10006,10423,399,842,52,60,65,1,1
...,...,...,...,...,...,...,...,...,...,...,...
11304,2021-02-01,D60,16025,15768,487,383,62,69,195,15,1
11305,2021-02-01,D54,18986,18861,318,446,83,100,107,248,1
11306,2021-02-01,D69,12479,12345,163,196,64,64,62,136,0
11307,2021-02-01,D59,16828,16504,248,333,83,135,112,256,1
11308,2021-02-01,D57,18645,18982,314,1177,65,145,126,356,2

In [4]:
# create Target variable

df = df.assign(Target = df.Earlies_Exp - df.MNR_SNR_Exp)

In [5]:
df = df.assign(PK = df.ofd_date + '_' + df.station_code )
df["PK"] = df['ofd_date'] + '_' + df['station_code']
df.head()

,ofd_date,station_code,OFD,Slam,Earlies_Exp,Earlies_Rec,MNR_SNR_Exp,Rollover,Returns,R_Sideline,Sideline,Target,PK
0,2021-06-30,D33,14594,14568,782,896,615,767,35,2,4,167,2021-06-30_D33
1,2021-06-30,D37,12736,13111,655,823,211,29,17,2,1,444,2021-06-30_D37
2,2021-06-30,D34,14562,15651,1028,1910,225,35,47,3,1,803,2021-06-30_D34
3,2021-06-30,D45,11165,11467,514,769,56,39,29,0,1,458,2021-06-30_D45
4,2021-06-30,D50,10006,10423,399,842,52,60,65,1,1,347,2021-06-30_D50

In [6]:
# Drop the columns not used in the model
df = df.drop(columns=['Earlies_Exp','MNR_SNR_Exp', 'ofd_date'])

In [7]:
# differentiate numerical features (minus the target) and categorical features

categorical_features = df.select_dtypes(include = ["object"]).columns
numerical_features = df.select_dtypes(exclude = ["object"]).columns

print("Numerical features : " + str(len(numerical_features)))
print("Categorical features : " + str(len(categorical_features)))
df_num = df[numerical_features]
df_cat = df[categorical_features]

Numerical features : 8
Categorical features : 2

In [8]:
# Drop the columns not used in the model
df = df.drop(columns=['station_code'])

df.head()

,OFD,Slam,Earlies_Rec,Rollover,Returns,R_Sideline,Sideline,Target,PK
0,14594,14568,896,767,35,2,4,167,2021-06-30_D33
1,12736,13111,823,29,17,2,1,444,2021-06-30_D37
2,14562,15651,1910,35,47,3,1,803,2021-06-30_D34
3,11165,11467,769,39,29,0,1,458,2021-06-30_D45
4,10006,10423,842,60,65,1,1,347,2021-06-30_D50

In [9]:
# check features

target = 'Target'
features = [i for i in df.columns if i not in [target]]

print('\n\033[1mInference:\033[0m The Dataset consists of {} columns & {} samples.'.format(df.shape[1], df.shape[0]))

Inference: The Dataset consists of 9 columns & 11309 samples.

In [10]:
# removal of outlier:

df1 = df
df3 = df

#features1 = [i for i in features if i not in ['CHAS','RAD']]
features1 = numerical_features

for i in features1:
    Q1 = df1[i].quantile(0.0005)
    Q3 = df1[i].quantile(0.95)
    IQR = Q3 - Q1
    df1 = df1[df1[i] <= (Q3+(1.5*IQR))]
    df1 = df1[df1[i] >= (Q1-(1.5*IQR))]
    df1 = df1.reset_index(drop=True)
display(df1.head())
print('\n\033[1mInference:\033[0m\nBefore removal of outliers, The dataset had {} samples.'.format(df3.shape[0]))
print('After removal of outliers, The dataset now has {} samples.'.format(df1.shape[0]))

,OFD,Slam,Earlies_Rec,Rollover,Returns,R_Sideline,Sideline,Target,PK
0,14594,14568,896,767,35,2,4,167,2021-06-30_D33
1,12736,13111,823,29,17,2,1,444,2021-06-30_D37
2,14562,15651,1910,35,47,3,1,803,2021-06-30_D34
3,11165,11467,769,39,29,0,1,458,2021-06-30_D45
4,10006,10423,842,60,65,1,1,347,2021-06-30_D50

Inference:
Before removal of outliers, The dataset had 11309 samples.
After removal of outliers, The dataset now has 10800 samples.

In [11]:
# removal of outlier:

df1 = df
df3 = df

#features1 = [i for i in features if i not in ['CHAS','RAD']]
features1 = numerical_features

for i in features1:
    Q1 = df1[i].quantile(0.05)
    Q3 = df1[i].quantile(0.95)
    IQR = Q3 - Q1
    df1 = df1[df1[i] <= (Q3+(1.5*IQR))]
    df1 = df1[df1[i] >= (Q1-(1.5*IQR))]
    df1 = df1.reset_index(drop=True)
display(df1.head())
print('\n\033[1mInference:\033[0m\nBefore removal of outliers, The dataset had {} samples.'.format(df3.shape[0]))
print('After removal of outliers, The dataset now has {} samples.'.format(df1.shape[0]))

,OFD,Slam,Earlies_Rec,Rollover,Returns,R_Sideline,Sideline,Target,PK
0,14594,14568,896,767,35,2,4,167,2021-06-30_D33
1,12736,13111,823,29,17,2,1,444,2021-06-30_D37
2,14562,15651,1910,35,47,3,1,803,2021-06-30_D34
3,11165,11467,769,39,29,0,1,458,2021-06-30_D45
4,10006,10423,842,60,65,1,1,347,2021-06-30_D50

Inference:
Before removal of outliers, The dataset had 11309 samples.
After removal of outliers, The dataset now has 10759 samples.

In [12]:
df = df1
df.shape

(10759, 9)

In [13]:
d = pd.get_dummies(df, prefix = ["theday"], columns = ["PK"])
d.head()

,OFD,Slam,Earlies_Rec,Rollover,Returns,R_Sideline,Sideline,Target,theday_2021-02-01_D1,theday_2021-02-01_D10,...,theday_2021-06-30_D71,theday_2021-06-30_D72,theday_2021-06-30_D73,theday_2021-06-30_D74,theday_2021-06-30_D75,theday_2021-06-30_D76,theday_2021-06-30_D77,theday_2021-06-30_D79,theday_2021-06-30_D8,theday_2021-06-30_D9
0,14594,14568,896,767,35,2,4,167,0,0,...,0,0,0,0,0,0,0,0,0,0
1,12736,13111,823,29,17,2,1,444,0,0,...,0,0,0,0,0,0,0,0,0,0
2,14562,15651,1910,35,47,3,1,803,0,0,...,0,0,0,0,0,0,0,0,0,0
3,11165,11467,769,39,29,0,1,458,0,0,...,0,0,0,0,0,0,0,0,0,0
4,10006,10423,842,60,65,1,1,347,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
# dependent and independent variables 
a = d.drop(columns=["Target"])
b = d["Target"]

In [15]:
d.shape

(10759, 10767)

In [16]:
dft.head()

,Unnamed: 0,ofd_date,country_code,fc_codes,station_code,OFD,Slam,Earlies_Rec,Rollover,Returns,R_Sideline,Sideline
0,0,2021-07-31,C,"F6, F8, F14, F17",D33,10231,10957,347,43,42,2,629
1,1,2021-07-31,C,"F6, F8, F9, F14, F17, F18",D37,10113,10261,285,50,25,0,165
2,2,2021-07-31,C,"F1, F4, F6, F7, F13, F15, F16",D34,11633,11789,300,24,30,0,202
3,3,2021-07-31,C,"F2, F6, F7, F10, F12, F13, F14, F15, F19",D45,8633,8482,180,713,24,1,276
4,4,2021-07-31,C,"F6, F8, F13, F14, F17",D50,6972,7222,116,24,16,0,130

In [17]:
# Drop the columns not used in the model
dft = dft.drop(columns=['country_code','fc_codes'])
dft

,Unnamed: 0,ofd_date,station_code,OFD,Slam,Earlies_Rec,Rollover,Returns,R_Sideline,Sideline
0,0,2021-07-31,D33,10231,10957,347,43,42,2,629
1,1,2021-07-31,D37,10113,10261,285,50,25,0,165
2,2,2021-07-31,D34,11633,11789,300,24,30,0,202
3,3,2021-07-31,D45,8633,8482,180,713,24,1,276
4,4,2021-07-31,D50,6972,7222,116,24,16,0,130
...,...,...,...,...,...,...,...,...,...,...
2384,2384,2021-07-01,D60,11782,14462,113,34,88,0,0
2385,2385,2021-07-01,D54,16615,16643,222,37,95,1,0
2386,2386,2021-07-01,D69,10733,10801,54,26,64,1,0
2387,2387,2021-07-01,D59,14633,14650,91,51,80,1,0
2388,2388,2021-07-01,D57,15562,15502,173,44,92,10,1

In [18]:
print(dft.shape)
print(d.shape)

(2389, 10)
(10759, 10767)

In [19]:
dft["Target"] = " "
dft.head()

print(dft.shape)
print(d.shape)

(2389, 11)
(10759, 10767)

In [20]:
dft = dft.assign(PK = dft.ofd_date + '_' + dft.station_code )
dft["PK"] = dft['ofd_date'] + '_' + dft['station_code']
dft.head()

print(dft.shape)
print(d.shape)

(2389, 12)
(10759, 10767)

In [21]:
# Drop the columns not used in the model
dft = dft.drop(columns=['ofd_date', 'station_code'])
print(dft.shape)
print(d.shape)

(2389, 10)
(10759, 10767)

In [22]:
dd = pd.get_dummies(dft, prefix = ["theday"], columns = ["PK"])
print(dft.shape)
print(d.shape)

(2389, 10)
(10759, 10767)

In [23]:
dd = dd.reindex(labels=d.columns,axis=1)
print(dd.shape)
print(d.shape)

(2389, 10767)
(10759, 10767)

In [24]:
dd = dd.fillna(0)

print(dd)

        OFD   Slam  Earlies_Rec  Rollover  Returns  R_Sideline  Sideline  \
0     10231  10957          347        43       42           2       629
1     10113  10261          285        50       25           0       165
2     11633  11789          300        24       30           0       202
3      8633   8482          180       713       24           1       276
4      6972   7222          116        24       16           0       130
...     ...    ...          ...       ...      ...         ...       ...
2384  11782  14462          113        34       88           0         0
2385  16615  16643          222        37       95           1         0
2386  10733  10801           54        26       64           1         0
2387  14633  14650           91        51       80           1         0
2388  15562  15502          173        44       92          10         1

     Target  theday_2021-02-01_D1  theday_2021-02-01_D10  ...  \
0                             0.0                    0.0  ...
1                             0.0                    0.0  ...
2                             0.0                    0.0  ...
3                             0.0                    0.0  ...
4                             0.0                    0.0  ...
...     ...                   ...                    ...  ...
2384                          0.0                    0.0  ...
2385                          0.0                    0.0  ...
2386                          0.0                    0.0  ...
2387                          0.0                    0.0  ...
2388                          0.0                    0.0  ...

      theday_2021-06-30_D71  theday_2021-06-30_D72  theday_2021-06-30_D73  \
0                       0.0                    0.0                    0.0
1                       0.0                    0.0                    0.0
2                       0.0                    0.0                    0.0
3                       0.0                    0.0                    0.0
4                       0.0                    0.0                    0.0
...                     ...                    ...                    ...
2384                    0.0                    0.0                    0.0
2385                    0.0                    0.0                    0.0
2386                    0.0                    0.0                    0.0
2387                    0.0                    0.0                    0.0
2388                    0.0                    0.0                    0.0

      theday_2021-06-30_D74  theday_2021-06-30_D75  theday_2021-06-30_D76  \
0                       0.0                    0.0                    0.0
1                       0.0                    0.0                    0.0
2                       0.0                    0.0                    0.0
3                       0.0                    0.0                    0.0
4                       0.0                    0.0                    0.0
...                     ...                    ...                    ...
2384                    0.0                    0.0                    0.0
2385                    0.0                    0.0                    0.0
2386                    0.0                    0.0                    0.0
2387                    0.0                    0.0                    0.0
2388                    0.0                    0.0                    0.0

      theday_2021-06-30_D77  theday_2021-06-30_D79  theday_2021-06-30_D8  \
0                       0.0                    0.0                   0.0
1                       0.0                    0.0                   0.0
2                       0.0                    0.0                   0.0
3                       0.0                    0.0                   0.0
4                       0.0                    0.0                   0.0
...                     ...                    ...                   ...
2384                    0.0                    0.0                   0.0
2385                    0.0                    0.0                   0.0
2386                    0.0                    0.0                   0.0
2387                    0.0                    0.0                   0.0
2388                    0.0                    0.0                   0.0

      theday_2021-06-30_D9
0                      0.0
1                      0.0
2                      0.0
3                      0.0
4                      0.0
...                    ...
2384                   0.0
2385                   0.0
2386                   0.0
2387                   0.0
2388                   0.0

[2389 rows x 10767 columns]

In [25]:
dd.head()

,OFD,Slam,Earlies_Rec,Rollover,Returns,R_Sideline,Sideline,Target,theday_2021-02-01_D1,theday_2021-02-01_D10,...,theday_2021-06-30_D71,theday_2021-06-30_D72,theday_2021-06-30_D73,theday_2021-06-30_D74,theday_2021-06-30_D75,theday_2021-06-30_D76,theday_2021-06-30_D77,theday_2021-06-30_D79,theday_2021-06-30_D8,theday_2021-06-30_D9
0,10231,10957,347,43,42,2,629,,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,10113,10261,285,50,25,0,165,,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,11633,11789,300,24,30,0,202,,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,8633,8482,180,713,24,1,276,,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,6972,7222,116,24,16,0,130,,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
X = d.drop(columns=["Target"])
Y = d["Target"]
print(X.shape)
print(Y.shape)

(10759, 10766)
(10759,)

In [27]:
x = dd.drop(columns=["Target"])
y = dd["Target"]
print(x.shape)
print(y.shape)

(2389, 10766)
(2389,)

In [28]:
q = X.values
w = Y.values
e = x.values
f = y.values

In [29]:

from sklearn import linear_model

regressor = linear_model.Lasso(alpha=0.1)

regressor.fit(q, w)

/Users/andreslopez/Desktop/dataton copy/venv/lib/python3.9/site-packages/sklearn/linear_model/_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.662e+08, tolerance: 3.388e+05
  model = cd_fast.enet_coordinate_descent(

Lasso(alpha=0.1)

In [30]:
print(f.shape)

(2389,)

In [31]:
print(e)

[[10231. 10957.   347. ...     0.     0.     0.]
 [10113. 10261.   285. ...     0.     0.     0.]
 [11633. 11789.   300. ...     0.     0.     0.]
 ...
 [10733. 10801.    54. ...     0.     0.     0.]
 [14633. 14650.    91. ...     0.     0.     0.]
 [15562. 15502.   173. ...     0.     0.     0.]]

In [32]:
y_pred = regressor.predict(x)

/Users/andreslopez/Desktop/dataton copy/venv/lib/python3.9/site-packages/sklearn/base.py:443: UserWarning: X has feature names, but Lasso was fitted without feature names
  warnings.warn(

In [33]:
print(y_pred)

[290.9227359  261.65281043 317.9028981  ... -36.09527747  28.62463946
 146.67510457]

In [34]:
y_pred.shape

(2389,)

In [35]:
print(y_pred[: 30])

[ 290.9227359   261.65281043  317.9028981   147.01147653   17.33423659
  173.68061464  132.46415108  -28.55593946  127.7088238    -1.07959517
  -23.50087196   62.44748657   66.84572939   87.99006551   53.35096309
 -237.00367533   32.02805604  223.38869814  100.34123415   28.55064083
  197.43809378   97.65986181  239.63382993   65.30732836  -59.81043384
  -65.26863074  -41.90248075  -38.1001881   264.0310425   209.58238121]

In [36]:
lazy = dft['PK'].values
print(lazy)

['2021-07-31_D33' '2021-07-31_D37' '2021-07-31_D34' ... '2021-07-01_D69'
 '2021-07-01_D59' '2021-07-01_D57']

In [37]:
df3 = pd.DataFrame(y_pred)

df4 = pd.DataFrame(lazy)

In [38]:
df3['PK'] = df4

In [39]:
df3.head()

            0              PK
0  290.922736  2021-07-31_D33
1  261.652810  2021-07-31_D37
2  317.902898  2021-07-31_D34
3  147.011477  2021-07-31_D45
4   17.334237  2021-07-31_D50

In [40]:
df5 = pd.DataFrame(y_pred)
df4["Expected"] = df5
df4.head()

                0    Expected
0  2021-07-31_D33  290.922736
1  2021-07-31_D37  261.652810
2  2021-07-31_D34  317.902898
3  2021-07-31_D45  147.011477
4  2021-07-31_D50   17.334237

In [41]:
df99 = df4

df76= df99.rename(columns={0: 'Id'})



df76.head()

               Id    Expected
0  2021-07-31_D33  290.922736
1  2021-07-31_D37  261.652810
2  2021-07-31_D34  317.902898
3  2021-07-31_D45  147.011477
4  2021-07-31_D50   17.334237

In [42]:
csv_data = df76.to_csv(columns=['Id', 'Expected'], index=False)
print(csv_data)

Id,Expected
2021-07-31_D33,290.9227359022063
2021-07-31_D37,261.6528104276603
2021-07-31_D34,317.90289809566406
2021-07-31_D45,147.0114765316901
2021-07-31_D50,17.334236590073743
2021-07-31_D32,173.68061463939404
2021-07-31_D49,132.4641510831669
2021-07-31_D48,-28.55593945736001
2021-07-31_D42,127.70882380428768
2021-07-31_D38,-1.0795951670965138
2021-07-31_D43,-23.50087195751179
2021-07-31_D39,62.44748656780325
2021-07-31_D36,66.84572939006594
2021-07-31_D35,87.99006551092428
2021-07-31_D40,53.35096309246066
2021-07-31_D47,-237.0036753343955
2021-07-31_D41,32.02805604110659
2021-07-31_D46,223.3886981404089
2021-07-31_D44,100.34123414907555
2021-07-31_D31,28.55064083244895
2021-07-31_D4,197.43809377871142
2021-07-31_D9,97.65986180765123
2021-07-31_D1,239.63382993232966
2021-07-31_D10,65.3073283640671
2021-07-31_D5,-59.81043383916008
2021-07-31_D7,-65.26863074142567
2021-07-31_D3,-41.9024807499476
2021-07-31_D6,-38.100188098153936
2021-07-31_D8,264.03104249930226
2021-07-31_D2,209.58238121039648
2021-07-31_D29,85.00124437317147
2021-07-31_D23,239.4516140070681
2021-07-31_D22,314.0782747180662
2021-07-31_D27,7.141384640300288
2021-07-31_D15,768.0855187173131
2021-07-31_D21,377.13693118786193
2021-07-31_D16,451.90326862645713
2021-07-31_D12,395.1793012313802
2021-07-31_D14,334.9808534815622
2021-07-31_D11,394.57036504866875
2021-07-31_D13,158.05332708932843
2021-07-31_D18,226.60192311219123
2021-07-31_D30,35.892568198714486
2021-07-31_D19,-144.64619088226698
2021-07-31_D24,159.44955276758336
2021-07-31_D20,535.1744339910779
2021-07-31_D25,211.26530812814917
2021-07-31_D17,227.7372612841213
2021-07-31_D28,283.9330498288941
2021-07-31_D26,30.343112514856607
2021-07-31_D75,226.34634957115645
2021-07-31_D79,-143.69703219543294
2021-07-31_D71,-732.278972905692
2021-07-31_D74,141.54923328579468
2021-07-31_D77,104.9530862734045
2021-07-31_D80,88.68945101428295
2021-07-31_D78,25.30576409972025
2021-07-31_D72,-5.493261837869426
2021-07-31_D73,231.52140536706833
2021-07-31_D76,240.79119586110625
2021-07-31_D68,-52.051813132911064
2021-07-31_D70,10.832923553354753
2021-07-31_D61,31.305335771346805
2021-07-31_D67,60.3271255297781
2021-07-31_D52,68.31552689206708
2021-07-31_D56,38.96481193517094
2021-07-31_D63,-40.959703376982986
2021-07-31_D55,-189.03749606741562
2021-07-31_D51,-77.39780728493444
2021-07-31_D65,218.2724637395452
2021-07-31_D62,39.91697748209229
2021-07-31_D66,-358.6100831885857
2021-07-31_D58,-108.55195405219715
2021-07-31_D53,89.67153310596775
2021-07-31_D64,-75.29919350760906
2021-07-31_D60,-66.80602313087688
2021-07-31_D54,102.49001003971006
2021-07-31_D69,42.696626564003566
2021-07-31_D59,50.977504804519626
2021-07-31_D57,-222.57682285579813
2021-07-30_D33,258.39010409326556
2021-07-30_D37,234.54139155921382
2021-07-30_D34,40.4747137412061
2021-07-30_D45,-324.511917958656
2021-07-30_D50,83.32876746695541
2021-07-30_D32,145.84856077461842
2021-07-30_D49,-60.87818797634682
2021-07-30_D48,50.52756028087231
2021-07-30_D42,358.5814896870135
2021-07-30_D38,88.54198160813576
2021-07-30_D43,36.24027347038333
2021-07-30_D39,62.96284412190754
2021-07-30_D36,78.49771867869043
2021-07-30_D35,166.3030986529536
2021-07-30_D40,77.03221004904496
2021-07-30_D47,29.921671861191044
2021-07-30_D41,196.07396846876088
2021-07-30_D46,-220.28216364277526
2021-07-30_D44,119.3322702070071
2021-07-30_D31,36.985223116940716
2021-07-30_D4,251.90876882568404
2021-07-30_D9,102.8283640944303
2021-07-30_D1,303.66369135671044
2021-07-30_D10,102.76103665721399
2021-07-30_D5,49.51840431646556
2021-07-30_D7,44.704490083394916
2021-07-30_D3,60.772425357086234
2021-07-30_D6,-14.135835321232491
2021-07-30_D8,159.25299855011104
2021-07-30_D2,310.1233099928333
2021-07-30_D29,8.776739659699778
2021-07-30_D23,218.31519697913143
2021-07-30_D22,294.10191943916766
2021-07-30_D27,102.14497226238086
2021-07-30_D15,584.2163341625371
2021-07-30_D21,277.79254656192785
2021-07-30_D16,411.6413107743198
2021-07-30_D12,919.3336634211178
2021-07-30_D14,423.00925563812956
2021-07-30_D11,548.8427946222134
2021-07-30_D13,159.15978426990551
2021-07-30_D18,96.22984399753636
2021-07-30_D30,-18.099579586619633
2021-07-30_D19,304.6602185585113
2021-07-30_D24,175.50156557924635
2021-07-30_D20,531.3463432645005
2021-07-30_D25,218.960164421429
2021-07-30_D17,242.49259417449565
2021-07-30_D28,75.81132973590748
2021-07-30_D26,30.908879065034284
2021-07-30_D75,199.43105832537975
2021-07-30_D79,108.8732854147292
2021-07-30_D71,201.49595422595718
2021-07-30_D74,171.53252644733774
2021-07-30_D77,-1834.2781424954214
2021-07-30_D80,44.00851486682865
2021-07-30_D78,-195.80578369730108
2021-07-30_D72,333.97685996479765
2021-07-30_D73,158.89490722569198
2021-07-30_D76,152.82947912990193
2021-07-30_D68,24.513095852246565
2021-07-30_D70,-30.87630170658938
2021-07-30_D61,-32.33057894726777
2021-07-30_D67,55.892289264410465
2021-07-30_D52,50.89257611053165
2021-07-30_D56,84.78687472828454
2021-07-30_D63,-87.13933451738767
2021-07-30_D55,49.75530033045732
2021-07-30_D51,4.1464065726544845
2021-07-30_D65,-575.7195491756493
2021-07-30_D62,27.646610685108065
2021-07-30_D66,79.65428555040192
2021-07-30_D58,125.56334140870672
2021-07-30_D53,-119.11499291360687
2021-07-30_D64,34.379000779998826
2021-07-30_D60,-28.14097321289111
2021-07-30_D54,120.31365202815792
2021-07-30_D69,15.44546943157738
2021-07-30_D59,68.25710062390378
2021-07-30_D57,48.407417572896094
2021-07-29_D33,125.35259752899799
2021-07-29_D37,126.05199922038324
2021-07-29_D34,346.1142399955781
2021-07-29_D45,208.36107466368622
2021-07-29_D50,108.67330666447256
2021-07-29_D32,141.94432937013164
2021-07-29_D49,79.51462027699215
2021-07-29_D48,65.77894350804091
2021-07-29_D42,129.03141421372868
2021-07-29_D38,5.855831630722264
2021-07-29_D43,52.25671977420777
2021-07-29_D39,46.549978794147265
2021-07-29_D36,144.07411900807963
2021-07-29_D35,178.6101302120804
2021-07-29_D40,25.86510778678786
2021-07-29_D47,132.5417837548504
2021-07-29_D41,181.3970986913099
2021-07-29_D46,-1226.5804172037786
2021-07-29_D44,85.39870641299002
2021-07-29_D31,79.69284385715822
2021-07-29_D4,370.9794679159037
2021-07-29_D9,155.26638569123278
2021-07-29_D1,372.6686182940042
2021-07-29_D10,114.77177389696573
2021-07-29_D5,72.34677345403179
2021-07-29_D7,130.94824707621552
2021-07-29_D3,69.75638337579761
2021-07-29_D6,144.22841473489828
2021-07-29_D8,237.35119162620344
2021-07-29_D2,514.5257600206705
2021-07-29_D29,141.34143464682842
2021-07-29_D23,305.9343145347603
2021-07-29_D22,359.6448847655747
2021-07-29_D27,3.509480054213924
2021-07-29_D15,918.6455515652033
2021-07-29_D21,429.14710428668263
2021-07-29_D16,336.1877496371811
2021-07-29_D12,819.852158955418
2021-07-29_D14,311.0762093254937
2021-07-29_D11,335.5738165327171
2021-07-29_D13,397.6360235144029
2021-07-29_D18,229.90596925501774
2021-07-29_D30,43.208674395045534
2021-07-29_D19,290.8920691117467
2021-07-29_D24,149.10315721051546
2021-07-29_D20,383.8936293102794
2021-07-29_D25,-361.1843651397843
2021-07-29_D17,501.0357025961243
2021-07-29_D28,178.16712869041805
2021-07-29_D26,14.70126670830524
2021-07-29_D75,224.8811831214232
2021-07-29_D79,161.88965868495882
2021-07-29_D71,468.3856755343041
2021-07-29_D74,239.0416804323949
2021-07-29_D77,543.7335147870965
2021-07-29_D80,71.18540378275571
2021-07-29_D78,54.237374140864375
2021-07-29_D72,-98.3215407499859
2021-07-29_D73,180.22170949459962
2021-07-29_D76,255.95469737111688
2021-07-29_D68,-16.82058908438829
2021-07-29_D70,-45.751461598868964
2021-07-29_D61,95.33399186407016
2021-07-29_D67,88.45664278321192
2021-07-29_D52,119.26750573788411
2021-07-29_D56,-274.1042724071081
2021-07-29_D63,-30.94510616174597
2021-07-29_D55,-89.46243053581203
2021-07-29_D51,82.06148710378413
2021-07-29_D65,13.976602859048526
2021-07-29_D62,103.98604532706565
2021-07-29_D66,99.8716390747498
2021-07-29_D58,-354.6347845858426
2021-07-29_D53,100.78420142411147
2021-07-29_D64,-1.7700592735886786
2021-07-29_D60,-121.20876854294846
2021-07-29_D54,-89.13289700526732
2021-07-29_D69,103.2965256072037
2021-07-29_D59,-104.20266419789212
2021-07-29_D57,107.70366113400951
2021-07-28_D33,279.12055469193757
2021-07-28_D37,202.66038239005243
2021-07-28_D34,-152.0973157965685
2021-07-28_D45,100.22220196843907
2021-07-28_D50,7.427516819979182
2021-07-28_D32,106.24116939126358
2021-07-28_D49,67.72944079893895
2021-07-28_D48,161.04303082102948
2021-07-28_D42,219.3357969534362
2021-07-28_D38,195.2834182313286
2021-07-28_D43,146.25293807908943
2021-07-28_D39,136.88800442664154
2021-07-28_D36,208.46900072315623
2021-07-28_D35,258.12600170062524
2021-07-28_D40,166.03090216782175
2021-07-28_D47,256.906981263531
2021-07-28_D41,238.16377292369356
2021-07-28_D46,720.8674735967265
2021-07-28_D44,214.32542195523848
2021-07-28_D31,136.62004672818986
2021-07-28_D4,393.23110373326733
2021-07-28_D9,158.20276812332622
2021-07-28_D1,391.67753096831626
2021-07-28_D10,192.54182889913767
2021-07-28_D5,18.57998884314742
2021-07-28_D7,71.35112123100797
2021-07-28_D3,221.46111035481022
2021-07-28_D6,33.98767658343736
2021-07-28_D8,158.84883117332376
2021-07-28_D2,520.3799879531741
2021-07-28_D29,133.17703104129697
2021-07-28_D23,418.7917793574244
2021-07-28_D22,515.4927359784976
2021-07-28_D27,211.58287556051064
2021-07-28_D15,1254.6983446410907
2021-07-28_D21,450.7617147172592
2021-07-28_D16,299.1993797832831
2021-07-28_D12,1241.7983717251693
2021-07-28_D14,557.1974210476774
2021-07-28_D11,704.0745753345589
2021-07-28_D13,478.70761362322054
2021-07-28_D18,500.6737440817121
2021-07-28_D30,109.6941675880411
2021-07-28_D19,312.96030386501104
2021-07-28_D24,84.74236438535578
2021-07-28_D20,459.6849976024863
2021-07-28_D25,407.3296125622892
2021-07-28_D17,779.2512660415716
2021-07-28_D28,446.9286499878742
2021-07-28_D26,148.90311411969793
2021-07-28_D75,282.67182586490924
2021-07-28_D79,134.51825042713727
2021-07-28_D71,3.989290821649263
2021-07-28_D74,419.7940436693957
2021-07-28_D77,-780.8530520877596
2021-07-28_D80,162.93456616126434
2021-07-28_D78,175.51319716886792
2021-07-28_D72,7.046214964006879
2021-07-28_D73,459.2286655736517
2021-07-28_D76,496.0145851118104
2021-07-28_D68,197.9782044500926
2021-07-28_D70,127.09690247344088
2021-07-28_D61,100.55406299452903
2021-07-28_D67,85.88872691056434
2021-07-28_D52,112.24942420181088
2021-07-28_D56,-364.54950393921797
2021-07-28_D63,7.077326653856453
2021-07-28_D55,26.024782771739908
2021-07-28_D51,100.44502087004446
2021-07-28_D65,99.24254195345117
2021-07-28_D62,103.7502212813452
2021-07-28_D66,-290.2496325671471
2021-07-28_D58,-22.036560231751338
2021-07-28_D53,88.77834271675367
2021-07-28_D64,100.56413075118223
2021-07-28_D60,-177.74836642558287
2021-07-28_D54,130.3814416147518
2021-07-28_D69,-363.2396214594992
2021-07-28_D59,31.69566617748184
2021-07-28_D57,72.13159390201885
2021-07-27_D33,-276.3681310804977
2021-07-27_D37,281.6766254160747
2021-07-27_D34,340.4552895980259
2021-07-27_D45,344.16015893260953
2021-07-27_D50,269.7894946054835
2021-07-27_D32,167.45203184504814
2021-07-27_D49,109.19807821033339
2021-07-27_D48,-268.7223986375644
2021-07-27_D42,181.69084139373507
2021-07-27_D38,184.12823412504224
2021-07-27_D43,202.2098978608486
2021-07-27_D39,89.8415098618892
2021-07-27_D36,149.1598219471714
2021-07-27_D35,265.9654583492207
2021-07-27_D40,116.20288786817778
2021-07-27_D47,288.34165266373526
2021-07-27_D41,263.2274661501517
2021-07-27_D46,-1547.5888388935582
2021-07-27_D44,49.286115343485335
2021-07-27_D31,302.4248688710199
2021-07-27_D4,241.57464506914556
2021-07-27_D9,177.2842410323413
2021-07-27_D1,298.36564589729073
2021-07-27_D10,118.95423115116586
2021-07-27_D5,75.38713697006091
2021-07-27_D7,111.79744061987651
2021-07-27_D3,11.35957190914678
2021-07-27_D6,181.12985384950508
2021-07-27_D8,244.5395926017108
2021-07-27_D2,137.94485317411437
2021-07-27_D29,167.82207730063442
2021-07-27_D23,527.9456693423424
2021-07-27_D22,415.35744555020625
2021-07-27_D27,199.4695462542466
2021-07-27_D15,737.7783280802182
2021-07-27_D21,586.7667607104977
2021-07-27_D16,284.1354235148057
2021-07-27_D12,569.8870401352267
2021-07-27_D14,396.3722641964759
2021-07-27_D11,3.3583872082942605
2021-07-27_D13,297.9890324987736
2021-07-27_D18,385.41227278185306
2021-07-27_D30,7.502695779847954
2021-07-27_D19,207.5770129448092
2021-07-27_D24,186.17098325066706
2021-07-27_D20,-27.893218965617955
2021-07-27_D25,-9.913319201462727
2021-07-27_D17,449.0348676766151
2021-07-27_D28,392.6958266006003
2021-07-27_D26,-98.03031268407979
2021-07-27_D75,286.35490045271143
2021-07-27_D79,327.7092255734832
2021-07-27_D71,514.5509527321287
2021-07-27_D74,488.60290627330386
2021-07-27_D77,521.4873198609378
2021-07-27_D80,201.89647556833927
2021-07-27_D78,236.1728437924766
2021-07-27_D72,375.26991562874315
2021-07-27_D73,-102.80897273116216
2021-07-27_D76,106.39313485983638
2021-07-27_D68,-62.28545535820675
2021-07-27_D70,-271.75549249006957
2021-07-27_D61,122.65113630573006
2021-07-27_D67,10.69886668203823
2021-07-27_D52,291.88451950678046
2021-07-27_D56,25.08933285792901
2021-07-27_D63,71.20777050548189
2021-07-27_D55,61.30060860765954
2021-07-27_D51,-3.0815743587957485
2021-07-27_D65,-254.41308892016798
2021-07-27_D62,82.42822478907433
2021-07-27_D66,-236.60309955513947
2021-07-27_D58,12.053524627941044
2021-07-27_D53,422.452584003471
2021-07-27_D64,227.35380188137714
2021-07-27_D60,-55.23977747989538
2021-07-27_D54,150.57826291489795
2021-07-27_D69,7.427397837956661
2021-07-27_D59,-9.467163679173566
2021-07-27_D57,101.5201545889179
2021-07-26_D33,386.7758721401513
2021-07-26_D37,142.7372655235255
2021-07-26_D34,275.60377243068166
2021-07-26_D45,73.6058928509049
2021-07-26_D50,-251.34005195080414
2021-07-26_D32,-361.05186544310567
2021-07-26_D49,135.0462781805488
2021-07-26_D48,351.0521202230408
2021-07-26_D42,72.0096842034634
2021-07-26_D38,164.69969325759658
2021-07-26_D43,240.33137655681327
2021-07-26_D39,109.52265018449674
2021-07-26_D36,18.592919132547195
2021-07-26_D35,80.0634897662803
2021-07-26_D40,87.61423247267533
2021-07-26_D47,201.62247608785643
2021-07-26_D41,172.92544642772685
2021-07-26_D46,164.99553877761903
2021-07-26_D44,60.592364270151506
2021-07-26_D31,238.4829051582069
2021-07-26_D4,471.75486916266226
2021-07-26_D9,250.08313106017562
2021-07-26_D1,522.0749249195835
2021-07-26_D10,222.44307423969332
2021-07-26_D5,114.46170716370574
2021-07-26_D7,82.94292348176913
2021-07-26_D3,151.529361437124
2021-07-26_D6,106.65101394934419
2021-07-26_D8,376.89946585140507
2021-07-26_D2,-294.97477405297735
2021-07-26_D29,-44.88765618164567
2021-07-26_D23,249.75656101290855
2021-07-26_D22,269.2780431335996
2021-07-26_D27,125.73198326234564
2021-07-26_D15,1448.9697458232683
2021-07-26_D21,563.3985614114592
2021-07-26_D16,-13.020818185466908
2021-07-26_D12,641.4900589914446
2021-07-26_D14,26.9468328508803
2021-07-26_D11,51.37801035246747
2021-07-26_D13,103.84610222703458
2021-07-26_D18,276.2425588645686
2021-07-26_D30,412.0448553560395
2021-07-26_D19,331.4585045450516
2021-07-26_D24,235.39189736295856
2021-07-26_D20,509.6749857445495
2021-07-26_D25,-24.734812439418135
2021-07-26_D17,1064.5995780893986
2021-07-26_D28,473.913075662444
2021-07-26_D26,145.11024367965132
2021-07-26_D75,93.79198493469397
2021-07-26_D79,-60.42080403215488
2021-07-26_D71,55.7109237209865
2021-07-26_D74,-243.26929971173087
2021-07-26_D77,-64.49886224421056
2021-07-26_D80,-3.473371843289499
2021-07-26_D78,-219.42217292473634
2021-07-26_D72,153.8426083367064
2021-07-26_D73,114.54063726707403
2021-07-26_D76,91.15257213804801
2021-07-26_D68,-807.2975320904143
2021-07-26_D70,41.62268608419322
2021-07-26_D61,-174.63129347359882
2021-07-26_D67,26.64059779365857
2021-07-26_D52,-504.838488075097
2021-07-26_D56,20.46923147934254
2021-07-26_D63,-137.28593956994433
2021-07-26_D55,-63.10848455055532
2021-07-26_D51,50.46532260469468
2021-07-26_D65,22.239574551447475
2021-07-26_D62,29.545512968056755
2021-07-26_D66,-2.3668628436763015
2021-07-26_D58,-62.40718025841974
2021-07-26_D53,-676.229499232172
2021-07-26_D64,-966.2769603233137
2021-07-26_D60,61.443048988996296
2021-07-26_D54,79.99001947556911
2021-07-26_D69,46.386804315764294
2021-07-26_D59,-210.24597516295728
2021-07-26_D57,92.38643722366447
2021-07-25_D4,813.895298332365
2021-07-25_D9,431.61543230516617
2021-07-25_D1,660.0993602989113
2021-07-25_D10,341.71478120378663
2021-07-25_D5,202.4725652219185
2021-07-25_D7,258.1402282942675
2021-07-25_D3,326.27467038129436
2021-07-25_D6,112.7576338508861
2021-07-25_D8,555.2486316219331
2021-07-25_D29,75.528476259272
2021-07-25_D23,145.45498926038945
2021-07-25_D22,17.44526470211295
2021-07-25_D15,313.93118743151365
2021-07-25_D21,421.26293176391556
2021-07-25_D16,203.20254213628368
2021-07-25_D12,-356.4073907064059
2021-07-25_D14,694.4787676282065
2021-07-25_D11,179.67389283961583
2021-07-25_D13,151.97816012504694
2021-07-25_D18,504.36888625142325
2021-07-25_D30,-908.9355654875808
2021-07-25_D19,112.5839499388841
2021-07-25_D24,-122.0505550071372
2021-07-25_D20,686.8513801505587
2021-07-25_D25,444.8656637851688
2021-07-25_D17,595.2038301912341
2021-07-25_D28,-406.32679737268404
2021-07-25_D26,64.55991102783847
2021-07-25_D75,700.8781317693513
2021-07-25_D79,567.6283745279877
2021-07-25_D71,273.3944730124402
2021-07-25_D74,511.06689004950255
2021-07-25_D77,215.2611513585005
2021-07-25_D80,594.8583774196845
2021-07-25_D78,434.81360383504074
2021-07-25_D72,752.7622559445756
2021-07-25_D73,492.0059710576524
2021-07-25_D76,548.3515516792374
2021-07-25_D68,99.31555573183488
2021-07-25_D70,-9.859917848152577
2021-07-25_D61,75.40971238306233
2021-07-25_D67,99.2277903702294
2021-07-25_D52,196.32962921796624
2021-07-25_D56,92.26816156317662
2021-07-25_D63,26.607075537423228
2021-07-25_D55,57.15433285883273
2021-07-25_D51,54.85375269369344
2021-07-25_D65,26.955167657004537
2021-07-25_D62,61.40969698428141
2021-07-25_D66,75.49928338757462
2021-07-25_D58,-11.742929780742294
2021-07-25_D53,142.02032732019615
2021-07-25_D64,25.51563493362147
2021-07-25_D60,-272.5047544048829
2021-07-25_D54,85.28383650980226
2021-07-25_D69,72.84051933960944
2021-07-25_D59,115.3135125601714
2021-07-25_D57,144.5901520139936
2021-07-24_D33,156.9629207807619
2021-07-24_D37,264.34664553223394
2021-07-24_D34,347.5252599702415
2021-07-24_D45,158.69189771895833
2021-07-24_D50,169.038765720856
2021-07-24_D32,211.55054126741788
2021-07-24_D49,69.44490185393519
2021-07-24_D48,63.00136120796442
2021-07-24_D42,-14.75958674843946
2021-07-24_D38,121.05233018807627
2021-07-24_D43,64.3135646694659
2021-07-24_D39,99.5322394391423
2021-07-24_D36,104.01834145227252
2021-07-24_D35,239.0517040853607
2021-07-24_D40,57.301742494137414
2021-07-24_D47,554.3890581917638
2021-07-24_D41,150.28509906310387
2021-07-24_D46,119.14176587696886
2021-07-24_D44,316.00525753508686
2021-07-24_D31,133.97828070371622
2021-07-24_D4,217.58938117320042
2021-07-24_D9,94.36171028683212
2021-07-24_D1,182.894052530255
2021-07-24_D10,58.38575928281706
2021-07-24_D5,19.117471453559737
2021-07-24_D7,45.78754356935056
2021-07-24_D3,33.047849501041135
2021-07-24_D6,44.26503887444592
2021-07-24_D8,-753.650764105394
2021-07-24_D2,288.8481875382236
2021-07-24_D29,150.40031923003428
2021-07-24_D23,293.20712836723095
2021-07-24_D22,175.55798399236767
2021-07-24_D27,18.77986909802302
2021-07-24_D15,359.43195655979315
2021-07-24_D21,348.07075170070715
2021-07-24_D16,400.53619846289496
2021-07-24_D12,1049.4297711566967
2021-07-24_D14,540.8484751862484
2021-07-24_D11,25.300685591911176
2021-07-24_D13,40.81327113977801
2021-07-24_D18,300.3870916239494
2021-07-24_D30,70.93871426639102
2021-07-24_D19,114.66340341604379
2021-07-24_D24,88.72662818957812
2021-07-24_D20,556.3187937273717
2021-07-24_D25,-52.4331485589542
2021-07-24_D17,-632.0769058965657
2021-07-24_D28,252.65335337947909
2021-07-24_D26,-17.705571080250866
2021-07-24_D75,154.21622348589034
2021-07-24_D79,215.83942254098451
2021-07-24_D71,285.7493174509116
2021-07-24_D74,203.7668311643235
2021-07-24_D77,272.6943017367257
2021-07-24_D80,208.38373245457868
2021-07-24_D78,152.8505805646543
2021-07-24_D72,360.78369106819173
2021-07-24_D73,105.38791768203143